* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
ul,
li {
  list-style: none;
  color: inherit;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}

.cell {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.f-head {
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: space-between;
}
.f-head .pagename {
  width: 300px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 0px;
  text-align: center;
}

.f-head .object {
  width: 160px;
  float: right;
  position: relative;
}

.f-head .object .function {
  display: flex;
  font-size: 15px;
  margin: 0 10px;
}

.f-head .object .function ul {
  display: flex;
}

.f-head .object .function li {
  padding-right: 15px;
}
.f-head .object .function li a {
  font-size: 15px;
}

.con {
  width: 100%;
  height: 920px;
  display: flex;
}

.con > .menu {
  width: 15%;
  height: 920px;
  position: relative;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.con > .menu > .menu-bar {
  width: 200px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.con > .menu > .menu-bar ul {
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-bottom: 15px;
}

.con > .menu > .menu-bar ul > p {
  margin-bottom: 5px;
}

.con > .menu > .menu-bar li {
  margin-left: 5px;
  margin-bottom: 10px;
}

.con > .feed {
  width: 85%;
  height: 920px;
  position: relative;
}

.con > .feed > .feed-bar {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.con > .feed > .feed-bar > p {
  margin-top: 10px;
  margin-left: 10px;
}

.con > .feed > .feed-con {
  width: 100%;
  height: 880px;
  padding-top: 15px;
  padding-left: 15px;
  display: block;
}

.wrap {
  padding: 24px;
}

.body-wrap {
  padding: 24px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.imgbox {
  width: 50%;
}

.textbox {
  width: 50%;
}

.reply {
  border-top: 1px solid #bdbdbd;
  padding-top: 12px;
  margin-top: 12px;
}

.reply-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: 1px solid #bdbdbd;
}

textarea {
  padding: 12px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  min-height: 200px;
}

.blue-button {
  color: #fff;
  background-color: #2185d0;
  padding: 12px;
  margin-top: 12px;
}
