* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
ul,
li {
  list-style: none;
  color: inherit;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}

.img-box > img {
  width: 100%;
  display: block;
}

.cell {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.f-head {
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: space-between;
}
.f-head .pagename {
  width: 300px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 0px;
  text-align: center;
}

.f-head .object {
  width: 160px;
  float: right;
  position: relative;
}

.f-head .object .function {
  display: flex;
  font-size: 15px;
  margin: 0 10px;
}

.f-head .object .function ul {
  display: flex;
}

.f-head .object .function li {
  padding-right: 15px;
}
.f-head .object .function li a {
  font-size: 15px;
}

.con {
  width: 100%;
  height: 920px;
  display: flex;
}

.con > .menu {
  width: 20%;
  height: 920px;
  position: relative;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.con > .menu > .menu-bar {
  width: 200px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.con > .menu > .menu-bar ul {
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-bottom: 15px;
}

.con > .menu > .menu-bar ul > p {
  margin-bottom: 5px;
}

.con > .menu > .menu-bar li {
  margin-left: 5px;
  margin-bottom: 10px;
}

.con > .feed {
  width: 80%;
  height: 920px;
  position: relative;
}

.con > .feed > .feed-bar {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.con > .feed > .feed-bar > p {
  margin-top: 10px;
  margin-left: 10px;
}

.con > .feed > .feed-con {
  width: 100%;
  height: 880px;
  padding-top: 15px;
  padding-left: 15px;
}

.con > .feed > .feed-con > ul > li {
  width: calc(100% / 5);
  display: flex;
  margin-bottom: 20px;
}

.con > .feed > .feed-con > ul > li > a {
  cursor: pointer;
  border: 1px solid #fff;
}
.con > .feed > .feed-con > ul > li > a:hover {
  box-shadow: 1px 1px 15px black;
}

.con > .feed > .feed-con > ul > li > a > .img-box {
  width: 220px;
  height: 220px;
}

.con > .feed > .feed-con > ul > li > a > .img-box > img {
  width: 220px;
  height: 220px;
}

.con > .feed > .feed-con > ul > li > a > p {
  text-align: left;
}
