.con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.con > .from > .sitename {
  text-align: center;
  font-size: 50px;
}

.con > .from > .joinbox {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 130px 40px 100px 40px;
}

.con > .from > .joinbox > p {
  margin-bottom: 6px;
  font-size: large;
}

.con > .from > .joinbox > input {
  margin-bottom: 6px;
  font-size: large;
}

.con > .from > .joinbox > .joinbtn {
  margin-top: 30px;
  height: 40px;
  margin-bottom: 21px;
  color: white;
  background-color: black;
  border-radius: 45px;
  border: none;
  font-size: large;
  cursor: pointer;
}
