.con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.con > .from > a > .sitename {
  text-align: center;
  font-size: 50px;
}

.con > .from > .loginbox {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 130px 40px 100px 40px;
}

.con > .from > .loginbox > p {
  margin-bottom: 6px;
  font-size: large;
}

.con > .from > .loginbox > input {
  margin-bottom: 6px;
  font-size: large;
}

.con > .from > .loginbox > .loginbtn {
  margin-top: 30px;
  height: 40px;
  margin-bottom: 21px;
  color: white;
  background-color: black;
  border-radius: 45px;
  border: none;
  font-size: large;
  cursor: pointer;
}

.con > .from > .loginbox > .joinbtn {
  height: 40px;
  margin-bottom: 21px;
  color: black;
  background-color: white;
  border-radius: 45px;
  border: none;
  font-size: large;
  cursor: pointer;
  border: 1px solid black;
}

.kakaobtn {
  background-color: #fede22;
  cursor: pointer;
  border-radius: 45px;
  border: none;
  height: 40px;
  font-size: large;
  border: 1px solid black;
}
