/* main */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
ul,
li {
  list-style: none;
  color: inherit;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.cell {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}
.f-head {
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: space-between;
}
.f-head .pagename {
  width: 300px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 0px;
  text-align: center;
}

.f-head .object {
  width: 160px;
  float: right;
  position: relative;
}

.f-head .object .function {
  display: flex;
  font-size: 15px;
  margin: 0 10px;
}

.f-head .object .function ul {
  display: flex;
}

.f-head .object .function li {
  padding-right: 15px;
}
.f-head .object .function li a {
  font-size: 15px;
}

.f-bar {
  width: 100%;
  height: 70px;
  margin-top: 50px;
}

.f-bar .feed {
  width: 500px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.f-bar .feed ul {
  display: flex;
  height: 60px;
}

.f-bar .feed li {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.f-bar .feed li a {
  margin-left: 10px;
  font-size: 20px;
}

.f-bar .feed li > .dog {
  width: 48px;
  height: 48px;
}

.f-bar .feed li > .cat {
  width: 59px;
  height: 59px;
}

/* login */
.conti {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sitename {
  text-align: center;
  font-size: 50px;
}

.loginbox {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 130px 40px 100px 40px;
}

.loginbox > p {
  margin-bottom: 6px;
  font-size: large;
}

.loginbox > input {
  margin-bottom: 6px;
  font-size: large;
}

.loginbtn {
  margin-top: 30px;
  height: 40px;
  margin-bottom: 21px;
  color: white;
  background-color: black;
  border-radius: 45px;
  border: none;
  font-size: large;
  cursor: pointer;
}

.joinbtn {
  height: 40px;
  margin-bottom: 21px;
  color: black;
  background-color: white;
  border-radius: 45px;
  border: none;
  font-size: large;
  cursor: pointer;
  border: 1px solid black;
}

.kakaobtn {
  background-color: #fede22;
  color: black;
  cursor: pointer;
  border-radius: 45px;
  border: none;
  height: 40px;
  font-size: large;
  border: 1px solid black;
}

/* join */
.joinbox {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 130px 40px 100px 40px;
}

.joinbox > p {
  margin-bottom: 6px;
  font-size: large;
}

.joinbox > input {
  margin-bottom: 6px;
  font-size: large;
}

.join-btn {
  margin-top: 30px;
  height: 40px;
  margin-bottom: 21px;
  color: white;
  background-color: black;
  border-radius: 45px;
  border: none;
  font-size: large;
  cursor: pointer;
}

/* page */
.f-head {
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: space-between;
}
.pagename {
  width: 300px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 0px;
  text-align: center;
}

.object {
  width: 160px;
  float: right;
  position: relative;
}

.function {
  display: flex;
  font-size: 15px;
  margin: 0 10px;
}

.function ul {
  display: flex;
}

.function li {
  padding-right: 15px;
}

.function li a {
  font-size: 15px;
}

.con {
  width: 100%;
  height: 920px;
  display: flex;
}

.menu {
  width: 15%;
  height: 920px;
  position: relative;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.menu-bar {
  width: 150px;
  height: 800px;
  margin-left: 45px;
}

.menu-bar ul {
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-bottom: 15px;
}

.menu-bar ul > p {
  margin-bottom: 9px;
}

.menu-bar li {
  margin-left: 5px;
  margin-bottom: 10px;
}

.feed {
  width: 85%;
  height: 920px;
  position: relative;
}

.feed-bar {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.feed-bar > p {
  margin-top: 10px;
  margin-left: 10px;
}

.feed-con {
  width: 100%;
  height: 880px;
  padding-top: 15px;
  padding-left: 15px;
}

.nav {
  width: 20%;
  display: flex;
  margin-bottom: 20px;
}

.nav > a {
  cursor: pointer;
  border: 1px solid #fff;
}

.nav > a:hover {
  box-shadow: 1px 1px 15px black;
}

.img-box {
  width: 220px;
  height: 220px;
}

.img-box > img {
  width: 220px;
  height: 220px;
}

.nav > a > p {
  text-align: left;
}

.title {
  font-weight: bold;
}
.price {
  font-weight: bold;
}

/* detail */

.buy-btn {
  background-color: white;
  color: black;
  float: right;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.detail-title {
  font-size: 30px;
  font-weight: bold;
}
.detail-price {
  font-size: 24px;
}
.wrap {
  padding: 24px;
}

.body-wrap {
  padding: 24px;
  width: 100%;
  border-radius: 4px;
}

.imgbox {
  width: 50%;
  height: 40%;
}

.textbox {
  width: 50%;
  height: 40%;
}

.body-box {
  width: 1505px;
  border-bottom: 1px solid #bdbdbd;
}

.from {
  border-top: 1px solid #bdbdbd;
  padding-top: 12px;
  margin-top: 12px;
}

.reply > p {
  padding-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
}

.reply-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  display: flex;
  border: 1px solid black;
}

.text-box {
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 50px;
}

.reply-body {
  resize: none;
  width: 1200px;
  height: 20px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border: none;
}

.reply-body:focus {
  outline: none;
}

.btn-box {
  margin-left: auto;
}

.button {
  color: black;
  padding: 12px;
  margin-top: 12px;
  background-color: white;
  border: none;
  cursor: pointer;
}

/* article */

.ui-table {
  width: 100%;
  background-color: #fff;
  margin-top: 12px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-collapse: separate;
  border-spacing: 0;
  color: rgba(0, 0, 0, 0.87);
}

.ui-table thead th {
  text-align: left;
  padding: 12px;
}

.ui-table tbody td {
  border-top: 1px solid silver;
  padding: 12px;
}

.ui-table tbody tr {
  cursor: pointer;
}

.ui-table tbody tr:hover {
  background-color: #e0e0e0;
}

.ui-wrap {
  padding: 24px;
}

.ui-button {
  background-color: black;
  color: #fff;
  font-weight: bold;
  padding: 8px 22px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ui-body-wrap {
  padding: 24px;
  width: 100%;
  border-radius: 4px;
}

.ui-body {
  margin-top: 12px;
  min-height: 400px;
}

.ui-reply {
  border-top: 1px solid #bdbdbd;
  padding-top: 12px;
  margin-top: 12px;
}

.ui-reply-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.reply-text {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  min-height: 200px;
  outline: none;
}

.btn {
  float: right;
}

table {
  margin-bottom: 10px;
}

.article-title {
  margin-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
}

/* write */

.write-bar {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.write {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.save-btn {
  font-weight: bold;
  padding: 8px 22px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  margin-left: auto;
  cursor: pointer;
}

.t-title {
  margin-top: auto;
  margin-bottom: auto;
}

.text-box2 {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.text-title {
  width: 100%;
  height: 50px;
}

.t-body {
  margin-bottom: 10px;
}

.text-body {
  border: 1px solid black;
  width: 100%;
  height: 500px;
}
