.write-bar {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.write {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

button {
  font-weight: bold;
  padding: 8px 22px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
}
h3 {
  margin-bottom: 10px;
}

.text-box {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
input {
  width: 100%;
  height: 50px;
}
